<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="../css/fp.css"> <!--to link to the css file-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"> <!-- to link to the website with good and simple icons-->

</head>
<!-- this page is 0% complete, no need to look at it-->
<body>
    <div class = "container">
        <h1>Reset Password</h1>
    </div>
    <form action = "">
        
    </form>

</body>

</html>