<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Seating Map</title>
    <link rel="stylesheet" href="../css/home.css"> <!--link to the css file-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"> <!--icons-->
</head>

<body>
    <div class="login">
        <!--for the logout button, but the variable is the same as the not logged in page because they use the same css file-->
        <a href="index">Logout</a>
    </div>
    <div class="whole">
        <h1>Welcome!</h1>
        <!--<img src="seatp.jpg" alt="logo">-->
        <div class="container">
            <div class="box">
                <h2>Your Maps</h2>
                <div class="box2"> <!-- boxes are here for the same reason as the index page-->
                    <div class="box3">
                        <div class="line">
                            <a href="newmap"> <!--create a new map-->
                                <button class="full-btn"> <!--button-->
                                    <p>+</p>
                                </button>
                            </a>
                        </div>
                        <div class="line">
                            <a href="premade"> <!--premade template-->
                                <button class="full-btn">
                                    <p1>Map</p1>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>