<!DOCTYPE html>
<html>
<!--this is the home page, localhost:5000/ or localhost:5000/index-->
<head>
    <meta charset="UTF-8" />
    <title>Seating Map</title>
    <link rel="stylesheet" href="../css/home.css"> <!--css file link-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"> <!--website link to icons-->
</head>

<body>
    <div class="login"> <!--leads to login page-->
        <a href="login">Login</a>
    </div>
    <div class="whole">
        <h1>Welcome!</h1>
        <!--<img src="splan.png" alt="logo">-->
        <div class="container">
            <div class="box"> <!-- boxes are for all the boxes in the page, the layers, etc. mostly for the look-->
                <h2>Your Maps</h2>
                <div class="box2"> <!-- they are inside of each-->
                    <div class="box3">
                        <div class="line"> <!--create new map button, but leads to login page because no signed in-->
                            <a href="login">
                                <button class="full-btn">
                                    <p>+</p>
                                </button>
                            </a>
                        </div>
                        <div class="line">
                            <a href="login"> <!-- also leads to login-->
                                <button class="full-btn">
                                    <p1>Map</p1>
                                </button>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>