<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Your Map</title>
    <link rel="stylesheet" href="../css/map.css"> <!--link to css-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <!-- to link to the website with good and simple icons-->

</head>

<body>
    <!-- <script src="db_practice/app.js"></script> -->
    <h1>Your Map</h1>
    <div class="screen"> <!--the whole screen--> <!-- this one for the left side-->
        <div class="reservationsbox"> <!--box for the tables-->
            <h2>Reservations</h2>
            <div class="rlist">
                <div class="entry">

                </div>
                <div class="entry">

                </div>
            </div>
        </div> <!--end of box-->

        <div class="map">
            <a href="home"> <!--back button, brings user back to the home page-->
                <button class="back">Back</button>
            </a>
            <a href="edit"> <!-- to edit the map-->
                <button class="edit">Edit</button>
            </a>
        </div>

    </div> <!--end of screen-->

</body>

</html>