body{
    background-color:#b3ddff;
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
}

.screen {
    position: relative;
}

.map {
    background-color: white;
    width: 1020px;
    float: left;
    height: 585px;
    border-radius: 10px;
    margin-left: 15px;
    border-color: cornflowerblue;
    border-style: solid;
    border-width: 3px;
    position: relative;
}
.reservationsbox {
    background-color: #e1e8fc;
    float: left;
    width: 290px;
    height: 585px;
    top: 0;
    margin-left: 10px;
    border-color: lightgrey;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    position: relative;
}

.rlist {
    height: 91%;
    width : 96%;
    background-color: #e1e8fc;
    float: left;
    padding: 5px;
    overflow-y: scroll;
}

.list {
    height: 200%;
    width : 96%;
    background-color: #e1e8fc;
    float: left;
    padding: 5px;
}

.edit {
    position: relative;
    top: 530px;
    left: -65px;
    font-size: 18px;    
    padding: 5px;
    width: 60px;
    background-color: #c9b3ff;
    border-radius: 5px;
}

.back {
    top: 0;
    left: 0;
    margin-top: 8px;
    margin-left: 8px;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    width: 60px;
    background-color: #c9b3ff;
}

h1 {
    text-align: center;
    font-size: 20px;
    padding: 5px;
}

h2 {
    text-align: center;
    font-size: 16px;
    margin-top: 14px;
    margin-bottom: 5px;
}

.entry {
    background-color: white;
    width: 100%;
    height: 70px;
    position: relative;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #e1e8fc;
}

.table {
    margin-top: 10px;
    background-color: green;
    width: 30px;
    height: 30px;
    align-self: center;
    position: absolute;
}

.one {
    background-color: green;
    width: 30px;
    height: 30px;
    align-self: center;
    border-color: darkgreen;
    border-style: solid;
    border-width: 2px;
    position: absolute;
    margin-left: 40px;
}

.two {
    background-color: green;
    width: 35px;
    height: 35px;
    align-self: center;
    border-color: darkgreen;
    border-style: solid;
    border-width: 2px;
    margin-left: 130px;
}

.three {
    background-color: green;
    width: 40px;
    height: 40px;
    align-self: center;
    border-color: darkgreen;
    border-style: solid;
    border-width: 2px;
    margin-left: 240px;
}

.four {
    background-color: green;
    width: 40px;
    height: 40px;
    align-self: center;
    border-color: darkgreen;
    border-style: solid;
    border-width: 2px;
    transform: rotate(45deg);
    margin-left: 380px;
}

.for {
    background-color: green;
    width: 40px;
    height: 40px;
    align-self: center;
    border-color: darkgreen;
    border-style: solid;
    border-width: 2px;
}

.booth {
    background-color: green;
    width: 70px;
    height: 40px;
    align-self: center;
    border-color: darkgreen;
    border-style: solid;
    border-width: 2px;
    margin-left: 520px;
}

.eight {
    background-color: green;
    width: 90px;
    height: 40px;
    align-self: center;
    border-color: darkgreen;
    border-style: solid;
    border-width: 2px;
    margin-left: 680px;
}

.ten {
    background-color: green;
    width: 110px;
    height: 40px;
    align-self: center;
    border-color: darkgreen;
    border-style: solid;
    border-width: 2px;
    margin-left: 850px;
    position: relative;
}

.rt8 {
    background-color: green;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-self: center;
    border-color: darkgreen;
    border-style: solid;
    border-width: 2px;
}

.rt10 {
    background-color: green;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-self: center;
    border-color: darkgreen;
    border-style: solid;
    border-width: 2px;
}

.rt10plus {
    background-color: green;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    align-self: center;
    border-color: darkgreen;
    border-style: solid;
    border-width: 2px;
}

.hwall {
    background-color: black;
    width: 80px;
    height: 7px;
    margin-top: 20px;
    margin-left: 5px;
}

.vwall {
    background-color: black;
    width: 7px;
    height: 80px;
    margin-left: 15px;
}

.other {
    background-color: green;
    width: 50px;
    height: 50px;
    font-size: 14px;
    text-align: center;
    border-color: darkgreen;
    border-style: solid;
    border-width: 2px;
    margin-left: 70px;
    margin-top: 10px;
}

p {
    font-size: 14px;
    text-align: center;
    padding: 5px;
}

#checkbox {
    margin-left: 5px;
    margin-top: 7px;
    width: 20px;
    height: 20px;
}

#name {
    height: 20px;
    width: 125px;
    margin-bottom: 5px;
}

#numberPpl{
    width: 30px;
    height: 20px;
    margin-left: 5px;
}

#reservationTime{
    width: 80px;
    height: 20px;
}

#phonenumber{
    height: 20px;
    width: 120px;
}