*{
    margin:0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    background-color: #b3ddff;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.back {
    text-align: center;
    padding: 5px;
    background-color: #c9b3ff;
    display:block;
    margin-right: 325px;
    margin-left: 15px;
    margin-top: 5px;
    align-self: left;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 2px 2px 2px #a677f7;
}
.register-box{
    background: white;
    border: 1px solid cornflowerblue;
    box-shadow: 5px 5px 5px cornflowerblue;
    padding: 60px 100px 60px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 400px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 30px;
}

.form-group{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type="password"].form-control, input[type="text"].form-control, input[type = "email"].form-control {
    width: 350px;
    box-shadow: 2px 2px 2px cornflowerblue;
    outline: none;
    border: 1px solid lightgrey;
    margin-bottom: 3px;
    padding: 10px;
    color: grey;
    align-self: center;
    border-radius: 2px;
    font-size:16px;
    display: block;
}

h1{
    text-align: center;
    color:darkslateblue;
    font-size: 24px;
    padding: 20px;
    margin-bottom: 15px;
    line-height: 10px;
}

.form-group input[type="submit"]{
    width: 93%;
    outline: none;
    border: 1px solid lightgray;
    margin-bottom: 15px;
    align-self: center;
    padding: 10px;
    border-radius: 2px;
    font-size: 16px;
    display: block;
    color:white;
    cursor: pointer;
    box-shadow: 2px 2px 2px #a677f7;
    background-color: #c9b3ff;
}

